<%= render 'shared/booking_navbar' %>
<div class="booking-form-container">
  <%= form_with(model: @location, url: locations_booking_index_path, class:'booking-form', method: 'post') do |f| %>
    <%= f.text_field :pick_up, class: 'minimalist-input', placeholder: 'from'%>
    <%= f.text_field :drop_off, class: 'minimalist-input', placeholder: 'to'%>
    <%= f.submit  value: 'Next', class: 'minimalist-button w-25'%>
  <% end %>
</div>
