<div data-controller="booking-navbar">
  <%= render 'shared/booking_navbar' %>
  <div class="booking-form-container">
    <%= form_with(model: @location, url: new_location_booking_index_path, class:'booking-form') do |f| %>
      <%= f.text_field :from, class: 'minimalist-input', placeholder: 'from'%>
      <%= f.text_field :to, class: 'minimalist-input', placeholder: 'from'%>
      <%= f.submit  value: 'Next', class: 'minimalist-button w-25', data-action: 'submit->booking-navbar#next_step %>
    <% end %>
  </div>
</div>
